  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  .side {
      margin: 30px 60px 40px 60px;
  }
  
  h1,
  span {
      font-size: 72px;
      color: white;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
  }
  
  .to {
      font-size: 80px;
      color: wheat;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
  }
  
  h4 {
      font-family: 'Roboto', sans-serif;
      color: white;
      font-size: 36px;
      font-weight: 400;
  }
  
  img {
      background-image: url(Angular_full_color_logo.svg.png);
      width: 60px;
  }
  
  @media screen and (min-device-width: 300px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
      .side {
          margin: 0px 0px 20px 30px;
      }
      h1,
      span {
          font-size: 64px;
          font-weight: 600;
      }
      .to {
          font-size: 72px;
          font-weight: 600;
      }
      h4 {
          font-size: 32px;
          font-weight: 400;
      }
  }
  
  @media screen and (min-device-width: 200px) and (max-device-width:299px) and (-webkit-min-device-pixel-ratio: 1) {
      .side {
          margin: 0px 0px 10px 20px;
      }
      h1,
      span {
          font-size: 48px;
          font-weight: 500;
      }
      .to {
          font-size: 54px;
          font-weight: 500;
      }
      h4 {
          font-size: 24px;
          font-weight: 300;
      }
  }