<nav class="navbar ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">

            <h1 class="h1">To Do App</h1>
        </a>

    </div>
</nav>
<div class="body flex-container">
    <div class="flex-item-left">

        <app-todos></app-todos>

    </div>
    <div class=" flex-item-right">
        <app-side-text></app-side-text>
    </div>
</div>

<footer>
    <p>
        <fa-icon [icon]="copyRight"></fa-icon> 2023: Muaz Ali | All Right Reserved<br>
    </p>
</footer>